# Docker configuration
HOST_UID=
EXTERNAL_HTTP_PORT=80
EXTERNAL_DB_PORT=5432
# PHP_IDE_CONFIG is necessary for xDebug
# Create server mapping in PHPStorm with name Default
# or change serverName value to appropriate one
PHP_IDE_CONFIG=serverName=Default


###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DB_HOST=db
DB_PASSWORD=dev
DB_USER=dev
DB_NAME=dev
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://mailhog
###< symfony/mailer ###

SYMFONY_PHPUNIT_VERSION=9.1.1
